@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300&family=Jolly+Lodger&family=Lobster&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 22, 26);
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom, rgba(38, 35, 35, 0.806), rgba(67, 78, 100, 0.363));
    margin: 0;
    width: 70%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.167);
    border: 0.3px solid rgba(245, 245, 245, 0.283);
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-basis: 10%;
    background: linear-gradient(to top, rgba(38, 35, 35, 0.29), rgba(122, 139, 174, 0.2));
    border-bottom: 0.2px solid rgba(245, 245, 245, 0.200);
}

.header h1 {
    color: rgb(255, 252, 244);
    font-size: 3em;
    font-family: 'Battambang', sans-serif;
    text-decoration: underline dotted 2px;
    text-shadow: 0 0 5px rgba(245, 245, 245, 0.482);
}

.book-logo {
    height: 90px;
    width: 90px;
}

.input-txt {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-txt:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 55%;
}

.books-toolbar {
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(50, 53, 56), rgba(32, 34, 36, 0.358));
    order: -2;
    color: whitesmoke;
    font-family: 'Arial';
    margin-bottom: 50px;
    border-radius: 5%;
    border: 0.2px solid rgba(245, 245, 245, 0.377);
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    box-shadow: 0 0 3px rgb(201, 203, 238, 0.2);
}

.books table {
    color: whitesmoke;
    font-family: 'Arial';
    border-collapse: collapse;

}

td {
    border: 1px rgb(245, 245, 245, 0.25) solid;
    padding: 10px;
}

.read-btn {
    background: linear-gradient(to bottom, rgb(34, 65, 31), rgb(181, 237, 196));
}
.update-price-form {
    display: flex;
    justify-content: space-evenly;
}
.update-btn {

    background: linear-gradient(to bottom, rgb(121, 99, 46), rgb(237, 228, 181));

}

.delete-btn {
    background: linear-gradient(to bottom, rgb(65, 34, 31), rgb(237, 181, 181));

}

.books-title {
    background-color: rgb(60, 64, 68);
    padding: 15px;
    text-align: center;
    user-select: none;

}

.books-title:active {
    background-color: rgb(60, 64, 68, 0.4);
}

.book-img {
    width: 100px;
    height: 150px;
}

.create-books {
    align-self: center;
    padding: 10px;
    overflow: hidden;
}

.create-btn {
    background-color: transparent;
    color: lightblue;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0;
    border: none;
    padding: 0;
    text-decoration: underline 2px;
}

.create-btn:active, .create-btn:hover, .close-modal-btn:hover {
    color: darkgray;
}

.action {
    padding: 5px;
    text-align: center;
}

.action:hover, .update-btn:hover{
    opacity: 0.7;
}

.book-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Tahoma';
    padding: 30px 20px;
    width: 300px;
    color: rgb(251, 222, 222);
    background-color: rgba(45, 57, 69, 0.642);
    border: 0.5px rgba(245, 245, 245, 0.429) solid;
    text-align: center;
    box-shadow: inset 0 0 10px rgb(201, 203, 238, 0.4);
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 500ms ease;
}

.book-modal.active {
    transform: translateX(0);
    transition: transform 500ms ease;
}

.book-modal h2 {
    margin: 0;
    padding: 0;
    text-decoration: underline 2px;
}

.close-modal-btn {
    background-color: transparent;
    border: 0.5px whitesmoke solid;
    font-size: 1em;
    width: 40%;
    margin-top: 20px;
}

.rate-container input {
    margin: 5px;
    width: 15%;
    height: 30px;
    text-align: center;
}

.rate-container button {
    padding: 5px;
    background-color: lightgrey;
    font-size: 1em;
    text-align: center;
}

.book-filter, .create-books {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

}

.create-books form {
    transform: translateX(40%);
    transition: transform 500ms ease;
}

.book-filter>* {
    margin: 10px;
}

.book-filter h3 {
    text-decoration: underline 2px;
    text-align: center;
}

.book-filter input {
    width: 70%;
    align-self: center;
}

.paging-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.prev-btn, .next-btn {
    font-size: 1em;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
}

.prev-btn:hover, .next-btn:hover {
    opacity: 0.7;
}

.book-img {
    align-self: center;
    padding: 10px;
    width: 100px;
    height: 150px;

}

.book-price {
    font-size: 1.5em;
    color: azure;
}

.create-books form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1em;
    font-family: 'Arial';
    position: relative;
    right: -60%;
}

[name=create-name], [name=create-price] {
    width: 70%;
}

.create-books form.active {
    right: -50%;
    transform: translateX(-50%);
    transition: transform 300ms ease-in-out
}

.create-books form>* {
    margin: 10px;
}

.create-books form button {
    background-color: bisque;
}

.page-num-container {
    width: 20%;
    margin-top: 8px;
    display: flex;
    justify-content: center;

}

.page-btn {
    background-color: rgba(214, 239, 255, 0.75);
}

.clicked {
    background-color: rgba(214, 239, 255, 1);
}

.page-btn:hover {
    background-color: rgba(214, 239, 255, 1);
}

.price {
    max-width: 200px;
}

.update-input {
    width: 65%;
}

.footer {
    display: flex;
    color: whitesmoke;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}